*{
    margin: 0;
    padding: 0;
}
@font-face{font-family:"LatoBlack"; src: url(fonts/Lato/Lato-Black.ttf);}
@font-face{font-family:"LatoBlackIT"; src:url(fonts/Lato/Lato-BlackItalic.ttf);}
@font-face{font-family:"RalewayMedium"; src:url(fonts/Raleway/Raleway-Medium.ttf);}
@font-face{font-family:"RalewaySemiB"; src:url(fonts/Raleway/Raleway-SemiBold.ttf);}
@font-face{font-family:"RalewayExtraB"; src:url(fonts/Raleway/Raleway-ExtraBold.ttf);}
/****/
body{
    height: 300vw;
}
/** Menu **/
.menu{
    width: 100%;
    height: 130px;
    display: flex;
    position: fixed;
    z-index: 99;
    border-bottom:solid 2px #122494;
    background: white;
    transition: .5s;
}
.menu.active{
    box-shadow: 5px 0 20px #9ad7ff;
    height:110px;
}
#logo{
    display: flex;
    width: 40vw;
    align-items: center;
    padding-left: 30px;
}
.menu img{
    width: 280px;
    height: 70px;
}
.menu nav{
    width: 60vw;
}
.menu ul{
    float: right;
    display: flex;
    margin-top: 55px;
    margin-right: -40px;
    transition: .5s;
}
.menu ul.active{
    margin-top: 40px;
    margin-right: -10px;
}
.menu li{
    display: inline;
    padding: 7px;
}
.Btmenu{
    color: #058dc2;
    text-decoration: none;
    font-family:"LatoBlack";
    border-radius: 15px;
    font-size: 1.2em;
    transition: .4s;
    padding: 12px;
    padding-left: 8px;
    padding-right: 8px;
}
.Btmenu:hover{
    background: #f7b511;
    box-shadow: 4px 4px #0c4f7b;
    color: white;
}
#login{
    float: right;
    background: #f7b511;
    color: white;
    text-decoration: none;
    font-size: 0.7em;
    font-family:"LatoBlackIT";
    width: 100px;
    height: 12px;
    padding: 8px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 20px;
    margin-top: 15px;
    margin-right: 40px;
    transition: .4s;
}
#cliente{
    width: 12px;
    height: 12px;
}
#login.active{
    margin-right: 20px;
}
/** Menu **/
#fix{
    padding-top: 100px;
}
/** Banner **/
#banner{
    background:url(imgs/banner.jpg);
    display: flex;
    width: 100%;
    height: 80vh;
    padding-top: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 100px;
    border-bottom: 3px solid #1f5a99;
    box-shadow: 0px 10px #c6c6c6;
}
#Btxt{
    display: flex;
    margin-top: -100px;
    width: 80vw;
    color: white;
    font-size: 3.8em;
    text-align: center;
    font-family: "LatoBlackIT";
    padding: 10px;
    justify-content: center;
}
/*Parceiros*/
#parceiros{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
    max-height: 800px;
    align-items: center;
}
#TitleP{
    display: flex;
    position: absolute;
    width: 60vw;
    height: 60px;
    color: #134668;
    font-size: 3em;
    font-family: "LatoBlackIT";
    padding: 15px;
    justify-content: center;
    margin-top: 20px;
}
.cont{
    position: relative;
    width: 100%;
    height: 58vh;
    margin-top: 130px;
    justify-content: center;
    align-items: center;
}
.blockLogo{
    background: #ebebeb;
    display: flex;
    position: relative;
    width: 18vw;
    height: 22vw;
    box-shadow: 8px -5px #0c4f7b;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}
.logos{
    position: relative;
    width: 12vw;
}
#BLockBT{
    display: flex;
    position: relative;
    width: 95vw;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
}
#BtParc{
    background: #f7b511;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 6px 6px #0c4f7b;
    font-size: 1.8em;
    font-family: "LatoBlackIT";
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: 50px;
    transition: 0.4s;
}
#BtParc:hover{
    margin-top: -20px;
    box-shadow: 10px 10px #0c4f7b;
}
/**Flickity Config**/
.flickity-enabled { position: relative;}  
.flickity-enabled:focus {outline: none;} 
.flickity-viewport {overflow: hidden; height: 100%;}
.flickity-slider {width: auto; height: 100%;} 
/* draggable */  
.flickity-enabled.is-draggable { -webkit-tap-highlight-color: transparent;-webkit-user-select: none; -moz-user-select: none;-ms-user-select: none; user-select: none;}
.flickity-enabled.is-draggable .flickity-viewport {cursor: move; cursor: -webkit-grab; cursor: grab;}  
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {cursor: -webkit-grabbing; cursor: grabbing;}
/* ---- flickity-button ---- */  
.flickity-button {box-shadow: 0 0 10px rgb(128, 128, 128); position: absolute; background: #025d98; border: none;color: #bfbfbf}  
.flickity-button:hover {background:#076db1;cursor: pointer;}  
.flickity-button:focus {outline: none;box-shadow: 0 0 15px rgb(128, 128, 128);}
.flickity-button-icon {fill: currentColor;}
/* ---- previous/next buttons ---- */  
.flickity-prev-next-button {padding: 30px; margin-top: 4vw; border-radius: 50%;transform: translateY(-50%);} 
.flickity-prev-next-button.previous { left: 35vw; } 
.flickity-prev-next-button.next { right: 35vw; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {left: auto;right: 10px;} .flickity-rtl .flickity-prev-next-button.next {right: auto;left: 10px;} .flickity-prev-next-button .flickity-button-icon {position: absolute;left: 15%;top: 10%;width: 70%;height: 80%;}
/* ---- page dots ---- */
.flickity-page-dots {position: absolute;width: 100%;bottom: -20px;padding: 0;margin: 0;list-style: none;text-align: center;line-height: 1;}.flickity-page-dots .dot {display: inline-block;width: 10px;height: 10px;margin: 0 8px;background: rgb(31, 31, 31);border-radius: 50%;opacity: 0.25;cursor: pointer;}.flickity-page-dots .dot.is-selected {opacity: 1;}
/*Parceiros*/

/** Clube **/
#Clube{
    background:#0099d5;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: -1vw;
    justify-content: center;
    align-items: center;
    height: 110vh;
    max-height: 750px;
}
.BannerBack{
    width: 100%;
}
#BlockPhone{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 100vh;
    max-width: 590px;
    max-height: 700px;
}
#BlockPhone img{
    width: 40vw;
    max-width: 600px;
    z-index: 10;
}
#BlockTxt{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    max-width: 650px;
    max-height: 700px;
}
#TitleClube{
    font-family:"LatoBlackIT";
    font-size: 2.2em;
    text-align: center;
    color: white;
    width: 50vw;
    max-width: 620px;
}
#BlockInsidetxt{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 46vw;
    height: 82vh;
    max-width: 620px;
    max-height: 550px;
}
.txtClube{
 font-family:"RalewaySemiB";
 font-size: 1.4em;
 color: white;
 padding-bottom: 10px;
 padding-top: 25px;
 padding-left: 35px;
 padding-right: 35px;
 text-align: left;
}
.bold{
    font-family: "RalewayExtraB";
    font-size: 1.5em;
    padding: 20px;
    padding-left: 25px;
    color: white;
}
#blockBlue{
    display: flex;
    flex-direction: column;
    background: #0864a1;
    justify-content: center;
    align-items: center;
    width: 120%;
    max-width: 960px;
    height: 130px;
    margin-left: -18px;
}
#valor{
    color: #f7b511;
    font-size: 2em;
    font-family: "LatoBlackIT";
    text-shadow: -5px 5px 3px #084477;
}
#valor em{
    font-size: 2.7em;
    margin-left: 5px;
}
#dia{
    color:white;
    font-size: 1.5em;
    font-family: "LatoBlackIT";
    margin-left: 15vw;
}
#BtClube{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#BtClube a{
    background: #f7b511;
    padding: 13px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    box-shadow: 6px 6px #0c4f7b;
    font-size: 1.8em;
    font-family: "LatoBlackIT";
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: 30px;
    transition: 0.4s;
}
#BtClube a:hover{
    margin-top: -15px;
    box-shadow: 10px 10px #0c4f7b;
}
/** Clube **/

/** Premios **/
#Premios{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110vh;
    max-height: 850px;
}
#BlockA{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 95vw;
    height: 100vh;
    max-height: 800px;
}
#TitlePr{
    width: 90vw;
    font-size: 3em;
    font-family: "LatoBlack";
    text-align: center;
    color: #134668;
    padding: 5px;
}
#BlockB{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 80vh;
    max-height: 650px;
}
.cardsP{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 75vh;
    max-width: 400px;
    max-height: 600px;
    margin: 1.5vw;
}
.cardsP img{
    margin-top: 30px;
    width: 20vw;
}
.cardsP h2{
    font-family: "LatoBlack";
    color: #134668;
    font-size: 1.9em;
    margin-top: 15px;
}
.cardsP p{
    margin-top: 15px;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    font-family: "RalewayMedium";
}
#BtPremio{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 90vw;
}
#BtPremio a{
    background: #f7b511;
    padding: 15px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    box-shadow: 6px 6px #0c4f7b;
    font-size: 1.8em;
    font-family: "LatoBlackIT";
    color: white;
    text-decoration: none;
    transition: 0.4s;
}
#BtPremio a:hover{
    margin-top: -15px;
    box-shadow: 12px 12px #0c4f7b;
}
/** Premios **/

/** Contato **/

/** Contato **/